/** Variables **/

$primary-color:#132980;
$primary-color-light:#465f91;
$secondary-color: #141313;
$light-font: #FFF;
.btn {
    height: 40px;
    padding: 5px 15px;
    border-radius: 5px;
    border: solid 1px;
    cursor: pointer;
    font-family: 'Albert Sans', sans-serif;
    font-size: 15px;
}

body {
    margin: 0;
    padding: 0;
    background-color: $secondary-color;
}

.btn--primary {
    background-color: $primary-color-light;
    border: transparent;
    color: #fff;
    &:hover {
        background-color: $primary-color;
        color: $primary-color-light
    }
}

.modal {
    &__title {
        font-size: 25px;
        font-weight: 600;
        padding: 20px;
        border-bottom: solid 1px #c2c2c0;
        color: $primary-color;
        display: flex;
        justify-content: space-between;
    }
    &__input-group {
        margin-bottom: 20px;
    }
    &__error_msg {
        color: red
    }
    &__success_msg {
        padding: 10px;
        background-color: #32a852;
        color: #d4fcdf;
        border-radius: 5px;
        margin-bottom: 20px
    }
    form {
        padding: 20px;
        label {
            margin-bottom: 5px;
            display: block;
        }
        input,
        textarea {
            padding: 12px;
            font-size: 18px;
            border-radius: 4px;
            border: $secondary-color solid 1px;
            width: 94%;
            font-family: 'Albert Sans', sans-serif;
        }
        .btn--modal {
            width: 100%;
            height: 45px;
            border-radius: 4px;
        }
    }
}